In [118]:
from pyspark.sql import SparkSession


# Initialize Spark Session
spark = SparkSession.builder.appName("cycles").getOrCreate()

In [119]:
df_person = spark.read.csv("../workshop-files/person.csv", header=True)
df_products = spark.read.csv("../workshop-files/products.csv", header=True)
df_sales = spark.read.csv("../workshop-files/sales.csv", header=True)

In [120]:
from pyspark.sql.functions import col, udf, when

df_sales_details = (
    df_sales.join(df_products, "ProductID", "inner")
    .select(
        col("PersonID"),
        col("ProductID"),
        col("Model"),
        col("ProductCategoryName"),
        col("Region"),
)   .filter(
    (col('Model') == 'Bikes') | (col('ProductCategoryName') == 'Bikes')
))


df_cust_details = df_sales_details.join(df_person, "PersonID", "inner").drop("AddressLine2", "Title")

In [121]:
df_cust_details.show()

+--------+---------+--------------+-------------------+-------------+---------+----------+---------+---------+--------------------+------+--------------------+--------------------+-------------------+
|PersonID|ProductID|         Model|ProductCategoryName|       Region|FirstName|MiddleName| LastName|NameStyle|        Demographics|Suffix|        EmailAddress|        AddressLine1|        PhoneNumber|
+--------+---------+--------------+-------------------+-------------+---------+----------+---------+---------+--------------------+------+--------------------+--------------------+-------------------+
|    4937|      781|  Mountain-200|              Bikes|North America|    Devin|      NULL| Thompson|    False|"""<IndividualSur...|  NULL|devin14@adventure...|      618 Oak Street|       681-555-0150|
|    4937|      783|  Mountain-200|              Bikes|North America|    Devin|      NULL| Thompson|    False|"""<IndividualSur...|  NULL|devin14@adventure...|      618 Oak Street|       681-555-0150|
|    6731|      797|    Road-550-W|              Bikes|       Europe| Theodore|      NULL|   Romero|    False|"""<IndividualSur...|  NULL|theodore9@adventu...|     8011 McNutt Ave|1 (11) 500 555-0199|
|    7273|      780|  Mountain-200|              Bikes|      Pacific|      Ann|      NULL| Gonzalez|    False|"""<IndividualSur...|  NULL|ann23@adventure-w...|  4166 Deercreek Ln.|1 (11) 500 555-0118|
|    7273|      954|  Touring-1000|              Bikes|      Pacific|      Ann|      NULL| Gonzalez|    False|"""<IndividualSur...|  NULL|ann23@adventure-w...|  4166 Deercreek Ln.|1 (11) 500 555-0118|
|    7273|      778|  Mountain-100|              Bikes|      Pacific|      Ann|      NULL| Gonzalez|    False|"""<IndividualSur...|  NULL|ann23@adventure-w...|  4166 Deercreek Ln.|1 (11) 500 555-0118|
|   11722|      764|      Road-650|              Bikes|North America|  Brianna|      NULL|   Thomas|    False|"""<IndividualSur...|  NULL|brianna9@adventur...| 7539 Hazelwood Lane|       113-555-0130|
|   11722|      782|  Mountain-200|              Bikes|North America|  Brianna|      NULL|   Thomas|    False|"""<IndividualSur...|  NULL|brianna9@adventur...| 7539 Hazelwood Lane|       113-555-0130|
|   12394|      781|  Mountain-200|              Bikes|       Europe|    Lacey|      NULL|       He|    False|"""<IndividualSur...|  NULL|lacey31@adventure...| 342 Summerfield Dr.|1 (11) 500 555-0148|
|   12394|      955|  Touring-1000|              Bikes|       Europe|    Lacey|      NULL|       He|    False|"""<IndividualSur...|  NULL|lacey31@adventure...| 342 Summerfield Dr.|1 (11) 500 555-0148|
|   12394|      753|      Road-150|              Bikes|       Europe|    Lacey|      NULL|       He|    False|"""<IndividualSur...|  NULL|lacey31@adventure...| 342 Summerfield Dr.|1 (11) 500 555-0148|
|   14899|      977|      Road-750|              Bikes|North America|    Mason|      NULL|     Ward|    False|"""<IndividualSur...|  NULL|mason12@adventure...|  5430 Park Glen Ct.|       240-555-0147|
|   17714|      960|  Touring-3000|              Bikes|       Europe| Margaret|      NULL|       Ye|    False|"""<IndividualSur...|  NULL|margaret16@advent...|        Kampstr 7257|1 (11) 500 555-0175|
|    5645|      977|      Road-750|              Bikes|North America|     Luke|      NULL|Patterson|    False|"""<IndividualSur...|  NULL|luke29@adventure-...|       6381 Cardinal|       560-555-0134|
|    9586|      780|  Mountain-200|              Bikes|North America|  Natalie|      NULL|   Turner|    False|"""<IndividualSur...|  NULL|natalie48@adventu...|  3955 Anchor Avenue|       460-555-0119|
|   11078|      790|      Road-250|              Bikes|North America|      Joe|      NULL|     Sanz|    False|"""<IndividualSur...|  NULL|joe43@adventure-w...|6696 Park Highlan...|       729-555-0156|
|   11078|      780|  Mountain-200|              Bikes|North America|      Joe|      NULL|     Sanz|    False|"""<IndividualSur...|  NULL|joe43@adventure-w...|6696 Park Highlan...|       729-555-0156|
|   16320|      797|    Road-550-W|              Bikes|North America|    Henry|      NULL|   Nelson|    False|"""<IndividualSur...|  NULL|henry23@adventure...| 715 Pheasant Circle|       306-555-0183|
|    2464|      998|      Road-750|              Bikes|North America| Isabella|      NULL|    Kelly|    False|"""<IndividualSur...|  NULL|isabella9@adventu...|   1706 Valley Blvd.|       471-555-0148|
|    3368|      980|Mountain-400-W|              Bikes|North America|Gabrielle|      NULL|     Diaz|    False|"""<IndividualSur...|  NULL|gabrielle44@adven...|        5816 Camacho|       914-555-0114|
+--------+---------+--------------+-------------------+-------------+---------+----------+---------+---------+--------------------+------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [122]:
# Code by Diko changed the TotalPurhaseYTD column type to integer
from pyspark.sql.types import (
    StructType,
    StructField,
    StringType,
    IntegerType,
    DecimalType,
)
import xml.etree.ElementTree as ET

# Define the schema for the UDF's return type
schema = StructType(
    [
        StructField("TotalPurchaseYTD", DecimalType(), True),
        StructField("DateFirstPurchase", StringType(), True),
        StructField("BirthDate", StringType(), True),
        StructField("MaritalStatus", StringType(), True),
        StructField("YearlyIncome", StringType(), True),
        StructField("Gender", StringType(), True),
        StructField("TotalChildren", IntegerType(), True),
        StructField("NumberChildrenAtHome", IntegerType(), True),
        StructField("Education", StringType(), True),
        StructField("Occupation", StringType(), True),
        StructField("HomeOwnerFlag", IntegerType(), True),
        StructField("NumberCarsOwned", IntegerType(), True),
        StructField("CommuteDistance", StringType(), True),
    ]
)


def parse_xml(xml_str):
    if xml_str is None:
        return (None,) * 13

    xml_str = xml_str.strip('"').replace('"""', '"')
    xml_str = xml_str.replace('""', '"')

    if not xml_str.startswith("<") or not xml_str.endswith(">"):
        return (None,) * 13

    try:
        root = ET.fromstring(xml_str)
        namespace = {
            "ns": "http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"
        }
        return (
            root.findtext("ns:TotalPurchaseYTD", default="", namespaces=namespace),
            root.findtext("ns:DateFirstPurchase", default="", namespaces=namespace),
            root.findtext("ns:BirthDate", default="", namespaces=namespace),
            root.findtext("ns:MaritalStatus", default="", namespaces=namespace),
            root.findtext("ns:YearlyIncome", default="", namespaces=namespace),
            root.findtext("ns:Gender", default="", namespaces=namespace),
            int(root.findtext("ns:TotalChildren", default=0, namespaces=namespace)),
            int(
                root.findtext(
                    "ns:NumberChildrenAtHome", default=0, namespaces=namespace
                )
            ),
            root.findtext("ns:Education", default="", namespaces=namespace),
            root.findtext("ns:Occupation", default="", namespaces=namespace),
            int(root.findtext("ns:HomeOwnerFlag", default=0, namespaces=namespace)),
            int(root.findtext("ns:NumberCarsOwned", default=0, namespaces=namespace)),
            root.findtext("ns:CommuteDistance", default="", namespaces=namespace),
        )
    except Exception:
        raise ValueError(f"Unable to parse XML: {xml_str}")


parse_xml_udf = udf(parse_xml, schema)

df_cust_details = df_cust_details.withColumn(
    "expanded", parse_xml_udf(col("Demographics"))
)

for field in schema.fields:
    df_cust_details = df_cust_details.withColumn(
        field.name, col("expanded." + field.name)
    )


df_cust_details = df_cust_details.select(
    col("FirstName"),
    col("LastName"),
    col("AddressLine1"),
    col("DateFirstPurchase"),
    col("BirthDate"),
    col("MaritalStatus"),
    col("YearlyIncome"),
    col("Gender"),
    col("TotalChildren"),
    col("NumberChildrenAtHome"),
    col("Education"),
    col("Occupation"),
    col("HomeOwnerFlag"),
    col("NumberCarsOwned"),
    col("CommuteDistance"),
    col("TotalPurchaseYTD"),
    col("Model"),
    col("ProductCategoryName"),
)

In [123]:
df_cust_details.show()

+---------+--------+--------------------+-----------------+-----------+-------------+-------------------+------+-------------+--------------------+-------------------+--------------+-------------+---------------+---------------+----------------+------------+-------------------+
|FirstName|LastName|        AddressLine1|DateFirstPurchase|  BirthDate|MaritalStatus|       YearlyIncome|Gender|TotalChildren|NumberChildrenAtHome|          Education|    Occupation|HomeOwnerFlag|NumberCarsOwned|CommuteDistance|TotalPurchaseYTD|       Model|ProductCategoryName|
+---------+--------+--------------------+-----------------+-----------+-------------+-------------------+------+-------------+--------------------+-------------------+--------------+-------------+---------------+---------------+----------------+------------+-------------------+
|    Chloe|   Young|244 Willow Pass Road|      2003-07-22Z|1979-02-27Z|            S|        25001-50000|     F|            0|                   0|    Partial College|Skilled Manual|            0|              1|     5-10 Miles|            NULL|Mountain-200|              Bikes|
|    Wyatt|    Hill| 9666 Northridge Ct.|      2003-08-13Z|1979-04-28Z|            M|        25001-50000|     M|            0|                   0|    Partial College|Skilled Manual|            1|              1|     5-10 Miles|            NULL|Mountain-200|              Bikes|
| Jennifer| Russell|3981 Augustine Drive|      2003-07-26Z|1978-12-18Z|            M|        50001-75000|     F|            0|                   0|    Partial College|Skilled Manual|            1|              2|      1-2 Miles|            NULL|Mountain-200|              Bikes|
|   Amanda|  Carter|        5826 Escobar|      2003-07-18Z|1977-10-16Z|            M|        50001-75000|     F|            0|                   0|    Partial College|Skilled Manual|            1|              2|      1-2 Miles|            NULL|Mountain-200|              Bikes|
|    Megan| Sanchez|    1397 Paraiso Ct.|      2003-07-25Z|1977-06-13Z|            M|        50001-75000|     F|            0|                   0|    Partial College|Skilled Manual|            1|              2|      0-1 Miles|            NULL|Touring-3000|              Bikes|
|    Megan| Sanchez|    1397 Paraiso Ct.|      2003-07-25Z|1977-06-13Z|            M|        50001-75000|     F|            0|                   0|    Partial College|Skilled Manual|            1|              2|      0-1 Miles|            NULL|Mountain-200|              Bikes|
|      Ana|   Price|1660 Stonyhill Ci...|      2003-07-21Z|1980-08-20Z|            M|        50001-75000|     F|            0|                   0|    Partial College|Skilled Manual|            0|              2|      1-2 Miles|            NULL|Mountain-200|              Bikes|
|    Chase|    Reed|  2721 Alexander Pl.|      2003-07-29Z|1975-12-07Z|            M|        25001-50000|     M|            0|                   0|        High School|Skilled Manual|            1|              2|     5-10 Miles|            NULL|Mountain-200|              Bikes|
|   Angela|  Butler|     6040 Listing Ct|      2003-07-26Z|1966-08-04Z|            S|greater than 100000|     F|            0|                   1|    Graduate Degree|    Management|            0|              3|      1-2 Miles|            NULL|Touring-3000|              Bikes|
|   Angela|  Butler|     6040 Listing Ct|      2003-07-26Z|1966-08-04Z|            S|greater than 100000|     F|            0|                   1|    Graduate Degree|    Management|            0|              3|      1-2 Miles|            NULL|Mountain-200|              Bikes|
|   Alyssa|     Cox| 867 La Orinda Place|      2003-07-10Z|1966-03-15Z|            M|greater than 100000|     F|            0|                   1|    Graduate Degree|    Management|            1|              3|      1-2 Miles|            NULL|Touring-3000|              Bikes|
|   Alyssa|     Cox| 867 La Orinda Place|      2003-07-10Z|1966-03-15Z|            M|greater than 100000|     F|            0|                   1|    Graduate Degree|    Management|            1|              3|      1-2 Miles|            NULL|Mountain-200|              Bikes|
|   Hunter|   Davis|4308 Sand Pointe ...|      2003-07-17Z|1957-11-25Z|            M|       75001-100000|     M|            2|                   1|         Bachelors |    Management|            1|              0|      2-5 Miles|            NULL|Touring-3000|              Bikes|
|   Hunter|   Davis|4308 Sand Pointe ...|      2003-07-17Z|1957-11-25Z|            M|       75001-100000|     M|            2|                   1|         Bachelors |    Management|            1|              0|      2-5 Miles|            NULL|Mountain-200|              Bikes|
|  Abigail|   Price|   2685 Blackburn Ct|      2003-07-02Z|1957-02-05Z|            S|       75001-100000|     F|            2|                   1|         Bachelors |    Management|            1|              1|      2-5 Miles|            NULL|Touring-3000|              Bikes|
|  Abigail|   Price|   2685 Blackburn Ct|      2003-07-02Z|1957-02-05Z|            S|       75001-100000|     F|            2|                   1|         Bachelors |    Management|            1|              1|      2-5 Miles|            NULL|Mountain-200|              Bikes|
|   Trevor|  Bryant|     5781 Sharon Dr.|      2002-02-07Z|1957-12-17Z|            S|       75001-100000|     M|            2|                   0|    Partial College|  Professional|            1|              1|      2-5 Miles|            NULL|Touring-3000|              Bikes|
|   Trevor|  Bryant|     5781 Sharon Dr.|      2002-02-07Z|1957-12-17Z|            S|       75001-100000|     M|            2|                   0|    Partial College|  Professional|            1|              1|      2-5 Miles|            NULL|Mountain-200|              Bikes|
|   Trevor|  Bryant|     5781 Sharon Dr.|      2002-02-07Z|1957-12-17Z|            S|       75001-100000|     M|            2|                   0|    Partial College|  Professional|            1|              1|      2-5 Miles|            NULL|    Road-150|              Bikes|
|   Marcus|  Harris|9068 Quiet Place ...|      2003-10-20Z|1979-11-03Z|            S|        25001-50000|     M|            0|                   0|Partial High School|      Clerical|            0|              2|     5-10 Miles|            NULL|Mountain-200|              Bikes|
+---------+--------+--------------------+-----------------+-----------+-------------+-------------------+------+-------------+--------------------+-------------------+--------------+-------------+---------------+---------------+----------------+------------+-------------------+
only showing top 20 rows

In [124]:
output_path = "../workshop-files/customer_details.csv"

df_cust_details.toPandas().to_csv(output_path, index=False, header=True)